service: mailbox

frameworkVersion: '2'

provider:
  name: aws
  runtime: go1.x
  memorySize: 128
  lambdaHashingVersion: 20201221
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-west-2'}
  environment:
    REGION: ${self:provider.region}
    DYNAMODB_TABLE: "mailbox-${self:provider.stage}"
    DYNAMODB_TIME_INDEX: timeIndex
    S3_BUCKET: example-mailbox # set this to your S3 bucket name
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
    - Effect: Allow
      Action:
        - s3:GetObject
      Resource: "arn:aws:s3::*:${self:provider.environment.S3_BUCKET}/*"

package:
  exclude:
    - ./**
  include:
    - ./bin/**

functions:
  hello:
    handler: bin/hello
    events:
      - httpApi:
          path: /hello
          method: get
  email-receive:
    handler: bin/email-receive

resources:
  Resources:
    MailboxDynamoDbTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
        AttributeDefinitions:
          - AttributeName: messageID
            AttributeType: S
          - AttributeName: ymReceived
            AttributeType: S
          - AttributeName: timeReceived
            AttributeType: S
        KeySchema:
          - AttributeName: messageID
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.DYNAMODB_TIME_INDEX}
            KeySchema:
              - AttributeName: ymReceived
                KeyType: HASH
              - AttributeName: timeReceived
                KeyType: RANGE
            Projection:
              ProjectionType: KEYS_ONLY
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1

plugins:
  - serverless-offline