name: Tests

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  go-test:
    name: Go Unit Tests
    permissions:
      id-token: write
      contents: read
    uses: harryzcy/github-actions/.github/workflows/go.yml@main
    with:
      latest: 1

  integration-test:
    name: Integration Tests
    needs: go-test
    strategy:
      matrix:
        go-version: ["1.24"]
        arch: ["amd64", "arm64"]
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    permissions:
      id-token: write
    services:
      dynamodb:
        image: amazon/dynamodb-local@sha256:7ef4a2c45b58c2901e70a4f28e0953a422c2c631baaaf5e2c15e0805740c7752 # v2.2.0
        ports:
          - 8000:8000
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - name: Run integration tests
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./integration/...
        env:
          DYNAMODB_TABLE: test
          DYNAMODB_ORIGINAL_INDEX: OriginalMessageIDIndex

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./coverage.txt
          use_oidc: true

  scripts:
    name: Script Tests
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
        node-version: [22.x, 24.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Install serverless
        run: npm install serverless@v3

      - name: Copy over config
        run: cp serverless.yml.example serverless.yml

      - name: Test
        run: npx serverless print
